<% include ../head/head.ejs %>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <% include ../menu/menu.ejs %>
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN PAGE HEAD -->
                    <div class="page-head">
                        <!-- BEGIN PAGE TOOLBAR -->
                        <div class="page-toolbar">
                            <!-- BEGIN THEME PANEL -->
                            <div class="btn-group btn-theme-panel">
                                <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-settings"></i>
                                </a>
                                <div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <h3>THEME</h3>
                                            <ul class="theme-colors">
                                                <li class="theme-color theme-color-default active" data-theme="default">
                                                    <span class="theme-color-view"></span>
                                                    <span class="theme-color-name">Dark Header</span>
                                                </li>
                                                <li class="theme-color theme-color-light" data-theme="light">
                                                    <span class="theme-color-view"></span>
                                                    <span class="theme-color-name">Light Header</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-12 seperator">
                                            <h3>LAYOUT</h3>
                                            <ul class="theme-settings">
                                                <li>
                                                    Theme Style
                                                    <select class="layout-style-option form-control input-small input-sm">
												<option value="square" selected="selected">Square corners</option>
												<option value="rounded">Rounded corners</option>
											</select>
                                                </li>
                                                <li>
                                                    Layout
                                                    <select class="layout-option form-control input-small input-sm">
												<option value="fluid" selected="selected">Fluid</option>
												<option value="boxed">Boxed</option>
											</select>
                                                </li>
                                                <li>
                                                    Header
                                                    <select class="page-header-option form-control input-small input-sm">
												<option value="fixed" selected="selected">Fixed</option>
												<option value="default">Default</option>
											</select>
                                                </li>
                                                <li>
                                                    Top Dropdowns
                                                    <select class="page-header-top-dropdown-style-option form-control input-small input-sm">
												<option value="light">Light</option>
												<option value="dark" selected="selected">Dark</option>
											</select>
                                                </li>
                                                <li>
                                                    Sidebar Mode
                                                    <select class="sidebar-option form-control input-small input-sm">
												<option value="fixed">Fixed</option>
												<option value="default" selected="selected">Default</option>
											</select>
                                                </li>
                                                <li>
                                                    Sidebar Menu
                                                    <select class="sidebar-menu-option form-control input-small input-sm">
												<option value="accordion" selected="selected">Accordion</option>
												<option value="hover">Hover</option>
											</select>
                                                </li>
                                                <li>
                                                    Sidebar Position
                                                    <select class="sidebar-pos-option form-control input-small input-sm">
												<option value="left" selected="selected">Left</option>
												<option value="right">Right</option>
											</select>
                                                </li>
                                                <li>
                                                    Footer
                                                    <select class="page-footer-option form-control input-small input-sm">
												<option value="fixed">Fixed</option>
												<option value="default" selected="selected">Default</option>
											</select>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END THEME PANEL -->
                        </div>
                        <!-- END PAGE TOOLBAR -->
                    </div>
                    <!-- END PAGE HEAD -->
                    <!-- BEGIN PAGE BREADCRUMB -->
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <a href="#">UI Components</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <a href="#">Markdown & WYSIWYG Editors</a>
                        </li>
                    </ul>
                    <!-- END PAGE BREADCRUMB -->
                    <!-- END PAGE HEADER-->
                    <!-- BEGIN PAGE CONTENT-->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXTRAS PORTLET-->
                            <div class="portlet box blue-hoki">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i>Noticias Cadastradas
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <br/>
                                    <a class="btn btn-success btn-facebook pull-right" style="margin-bottom: 15px" href="/noticia?id=0">
                                        <i class="fa fa-edit"> </i> Cadastrar Noticia
                                    </a>
                                    <br/>
                                    <form class="form-horizontal form-bordered" id="formnoticia">
                                        <div class="form-body">
                                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 11%;">Categoria</th>
                                                        <th style="width: 50%;">Titulo</th>
                                                        <th style="width: 12%;">Autor</th>
                                                        <th style="width: 10%;">Status</th>
                                                        <th style="width: 12%;">Data</th>
                                                        <th style="width: 5%;">#</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(var i=0; i < noticias.length; i++) { %>
                                                        <tr>
                                                            <td>
                                                                <%= noticias[i].categoria %>
                                                            </td>
                                                            <td>
                                                                <%= noticias[i].titulo %>
                                                            </td>
                                                            <td>
                                                                <%= noticias[i].autor %>
                                                            </td>
                                                            <td>
                                                                <%= noticias[i].status %>
                                                            </td>
                                                            <td>
                                                                <%= noticias[i].datanoticia %>
                                                            </td>
                                                            <td><a class="btn btn-outline btn-success dim" href="/noticia?id=<%= noticias[i].id %>"><i class="fa fa-upload"></i></a></td>
                                                        </tr>
                                                        <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE CONTENT-->
                </div>
            </div>
            <!-- END CONTENT -->
    </div>

    <!-- END CONTAINER -->
    <% include ../footer/footer.ejs %>